<?xml version="1.0" encoding="utf-8"?>
<Parameters>
<Connect>
	<Server>localhost</Server>
	<User>root</User>
	<Password></Password>
	<DB>registers</DB>
</Connect>
<Email>
	<From>jvargasa91@gmail.com</From>
	<Password>206810945</Password>
	<Server>smtp.gmail.com</Server>
	<To>jonavargas2012@gmail.com</To>
</Email>
</Parameters>